[Desktop Entry]
Name = Hibernate
Comment = Put in hibernation
Keywords = Power Commands
Exec = /opt/extras.ubuntu.com/power-commands/bin/power hibernate
Icon = pc-hibernate
Terminal = false
Type = Application
StartupNotify = true
Categories = GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel
Name[fr] = Hiberner
Name[es] = Hibernar
Comment[fr] = Mettre en hibernation
Comment[es] = Hibernar
Keywords[fr] = Power Commands
Keywords[es] = Power Commands
