[Desktop Entry]
Name = Kill
Comment = Allows you to kill a misbehaving application
Keywords = Power Commands
Exec = xkill
Icon = pc-kill
Terminal = false
Type = Application
StartupNotify = true
Categories = GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel
Name[es] = Matar
Name[fr] = Kill
Name[es] = Kill
Comment[fr] = Allows you to kill a misbehaving application
Comment[es] = Allows you to kill a misbehaving application
Keywords[fr] = Power Commands
Keywords[es] = Power Commands
