[Desktop Entry]
Name=Kill
Comment=Allows you to kill a misbehaving application
Keywords=Power Commands
Exec=power-commands --kill
Icon=pc-kill
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel
Name[fr]=Kill
Name[es]=Matar
Comment[fr]=Allows you to kill a misbehaving application
Comment[es]=Permite matar una aplicación
Keywords[fr]=Power Commands
Keywords[es]=Power Commands
