[Desktop Entry]
Name=Lock
Comment=Lock with the screensaver
Keywords=Power Commands
Exec=power-commands --lock
Icon=pc-lock
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel
Name[fr]=Lock
Name[es]=Bloquear
Comment[fr]=Lock with the screensaver
Comment[es]=Bloquear con el salvapantallas
Keywords[fr]=Power Commands
Keywords[es]=Power Commands
