[Desktop Entry]
Name = Log Out
Comment = Log out without prompt
Exec = gnome-session-quit --logout --no-prompt
Icon = pc-logout
Terminal = false
Type = Application
StartupNotify = true
Categories = GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel
Name[fr] = Log Out
Name[es] = Salir de la sesión
Comment[fr] = Log out
Comment[es] = Salir de la sesión sin preguntar
