[Desktop Entry]
Name = Restart
Comment = Exit session and restart
Keywords = Power Commands
Exec = power-commands restart
Icon = pc-restart
Terminal = false
Type = Application
StartupNotify = true
Categories = GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel
Name[fr] = Redémarrer
Name[es] = Reiniciar
Comment[fr] = Redémarrer
Comment[es] = Salir de la sesión y reiniciar
Keywords[fr] = Power Commands
Keywords[es] = Power Commands
