[Desktop Entry]
Name=Suspend
Comment=Stop all operations and suspend
Keywords=Power Commands
Exec=power-commands --suspend
Icon=pc-suspend
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel
Name[fr]=Veille
Name[es]=Suspender
Comment[fr]=Mettre en veille
Comment[es]=Para todas las operaciones y suspende
Keywords[fr]=Power Commands
Keywords[es]=Power Commands
