[Desktop Entry]
Name = Shutdown
Comment = Exit session and shutdown
Keywords = Power Commands
Exec = power-commands shutdown
Icon = pc-shutdown
Terminal = false
Type = Application
StartupNotify = true
Categories = GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel
Name[fr] = Éteindre
Name[es] = Apagar
Comment[fr] = Éteindre
Comment[es] = Salir de la sesión y apagar
Keywords[fr] = Power Commands
Keywords[es] = Power Commands
