[Desktop Entry]
Name=Screensaver
Comment=Start the screensaver
Keywords=Power Commands
Exec=power-commands --logout
Icon=pc-screensaver
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel
Name[fr]=Screensaver
Name[es]=Salvapantallas
Comment[fr]=Start the screensaver
Comment[es]=Iniciar el salvapantallas
Keywords[fr]=Power Commands
Keywords[es]=Power Commands
