[Desktop Entry]
Name = Restart
Comment = Exit session and restart
Exec = /opt/extras.ubuntu.com/power-commands/bin/power restart
Icon = reload
Terminal = false
Type = Application
StartupNotify = true
Categories = GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel
Name[es] = Reiniciar
Name[fr] = Redémarrer
Comment[es] = Salir de la sesión y reiniciar
Comment[fr] = Redémarrer
