[Desktop Entry]
Name = Screensaver
Comment = Start the screensaver
Exec = gnome-screensaver-command --activate
Icon = screensaver
Terminal = false
Type = Application
StartupNotify = true
Categories = GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel
Name[es] = Salvapantallas
Name[fr] = Screensaver
Comment[es] = Iniciar el salvapantallas
Comment[fr] = Start the screensaver
